<div class="like-teaser">
  <a href="{{ content.field_url_fr.0 }}" class="teaser-link" target="_parent">
    <div class="object-img">{{ content.field_image.0 }}</div>
    <div class="teaser-info">
      <div class="inventaire small-size">{{ node.type.entity.label }} </div>
      <h3>{{ label }}</h3>
      <div class="wysiwyg small"><p>{{ content.body }}</p></div>
    </div>
  </a>
  {% if 'mes-likes' in path('<current>') %}
    <a href="{{ "https://heritage.bienavous-dev.net/deleteLike/" ~ render_var(content.field_id.0) }}" class="dislike">{% trans %}Remove like{% endtrans %}</a>
  {% elseif 'mes-bookmarks' in path('<current>') %}
    <a href="{{ "https://heritage.bienavous-dev.net/deleteBookmark/" ~ render_var(node.id) }}" class="dislike">{% trans %}Remove from my bookmarks{% endtrans %}</a>
  {% endif %}
</div>
